<p id="notice"><%= notice %></p>

<h1>Listing Api Steps</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Title</th>
      <th>Body</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_steps.each do |api_step| %>
      <tr>
        <td><%= api_step.order %></td>
        <td><%= api_step.title %></td>
        <td><%= api_step.body %></td>
        <td><%= api_step.project_id %></td>
        <td><%= link_to 'Show', api_step %></td>
        <td><%= link_to 'Edit', edit_api_step_path(api_step) %></td>
        <td><%= link_to 'Destroy', api_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_api_step_path %>
