<!DOCTYPE html>
<html>
<head>
  <title>Flow</title>
  <link rel="stylesheet" href="font.css" type="text/css" charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=BenchNine:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
